<div fxLayout="column" fxLayoutAlign="start start" class="page conference-page" >
    <div class="header-row" fxLayout="row" fxLayoutAlign="space-between center">
        <img class='headerlogo' src="assets/logos/hm.png">
        <div fxLayout="column" fxLayoutAlign="start end">
            <div class='header-row-1'>Invitation</div>
            <div class='header-row-2'>Humanitarian Making</div>
            <div class='header-row-3'>Conference</div>
        </div>
    </div>
    <div class="dates">
        Dates TBC, Toulouse, France
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="image-row">
        <img class="sponsor-image" src="assets/logos/fieldReady-1.png">
        <img class="sponsor-image" style="width:7%" src="assets/logos/MC.jpg">
        <img class="sponsor-image" style="width:22%" src="assets/logos/TDH.jpg">
        <img class="sponsor-image" style="width:20%; margin:-2em;" src="assets/logos/AIRBUS.jpg">
        <img class="sponsor-image" style="width:20%" src="assets/logos/shuttleworth.svg">
    </div>
    <div class="text">
        We are gathering together, for the first time, aid agencies that are
        developing projects and programmes that use local manufacturing,
        digital fabrication, FabLabs and Makerspaces.
    </div>
    <div class="label">Venues:</div>
    <div class="text">Radisson Blu Hotel Toulouse Airport and Airbus Protospace</div>

    <div class="label">Agenda:</div>
    <div class="text">Conference, open participation & collaboration, Airbus Protospace tour,
        problem-solving and project creation with Airbus staff</div>

    <div class="label">Invitation list:</div>
    <div class="text">Aid agencies: MSF, ICRC, Caritas, World Vision, Cordaid, Oxfam,
        Humanitarian Logistics Association, Rapid Foundation, Kenyan Red
        Cross, DAI, PATH, Global Innovation Gathering, Cadus, INSTEDD, ENABLE,
        Response Innovation Lab, OpenDot, Civic, Wikifactory, ZOA,
        Cadus, WFP, DEPP Labs, Fab Foundation, Centre for Global Equality,
        Motivation, Kijenzi, World Bank Tanzania, CaLP, MIT D-Lab,
        Humanitarian OpenStreetMap, University of Cambridge, University of
        Rotterdam, , Cisco Foundation, ARM, DFID, USAID, European
        Commission, Dutch ministry of foreign affairs, Airbus Humanity Lab
        initiative, Airbus Protospace and more!
    </div>
        
    <div  class="text">Please notice that this conference is invitation-only, if you would
        like to add to the invitation list, please contact us. If you have
        question, please email <a class="mail-link" href="mailto:andrew.lamb@fieldready.org">andrew.lamb@fieldready.org</a>
    </div>
</div>

<img src="assets/images/1.png" class="circle1">

<img src="assets/images/2.png" class="circle2">

<img src="assets/images/1.png" class="circle3">

<img src="assets/images/3.png" class="line1">

<img src="assets/images/3.png" class="line2">

