.full-width {
    width: 100%;
}

.card-border-blue {
    border-top: 6px solid #4A8BCB;
}

.card-border-yellow {
    border-top: 6px solid #EFB044;
}

.title {
    font-size: 3em;
    margin: 0.5em;
}

.event-date {
    color: #4A8BCB;
}