.hero {
    text-align: center;
  }
  .hero-image {
    width: 40%
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    font-weight: bold;
    
  }

  .rule-heading {
    font-size: 1.8em;
    text-align: center;
    margin: 0.5em;
    margin-top: 1em;
  }

  .rule-details {
    font-size: 1.3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: left;
  }

  .divider {
      width: 100%;
      height: 10px;
      padding-bottom: 10px;
  }

  .rule-image {
    max-width: 10em;
    margin: 1em;
  }
  
   