.title {
    font-size: 1.2em;
    margin-left: 1em;
}

.row :hover {
    background-color: whitesmoke;
}

table {
    margin: 0.5em;
}

.table-text {
    font-size: 14px;
    margin-left: 0.6em;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    padding: 0.3em;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.name-text {
    font-size: 14px;
    margin: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.name-form {
    width: 300px;
}

.descs {
    font-size: 14px;
    margin: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.desc-text {
    font-size: 14px;
    margin: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.desc-language{
    font-size: 12px;
    margin: 0em;
}

.desc-option {
    border: solid 1px rgb(173, 173, 173);
    border-radius: 4px;
    background-color: whitesmoke;
}
.full-width {
    width: 100%;
}

mat-form-field {
    width: 100%;
  }