.name {
    font-size: 2em;
}

.heading {
    font-size: 1.2em;
}

.table-spacing {
    margin-left: 2em; 
}

.location-table {
    width: 100vw;
    margin: 1em;
}

.list {
    width: 40%;
}
.list-row {
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 2px;
    margin: 0.1em;
    width: 100%;
    padding: 0.3em
}

.list-row-name {
    margin-left: 0.5em;
}