<!-- Content -->
<div fxLayout="column" fxLayoutAlign="start center" class="page" *ngIf="userGroup">
  <div class="name">{{userGroup.name}}</div>

  <div class="heading">Users ({{userGroup.users.length}}):</div>
  <mat-list role="list" *ngFor="let user of userGroup.users">
    <mat-list-item role="listitem">{{user._id}} - {{user.role}}</mat-list-item>
  </mat-list>

  <div class="heading">Locations ({{userGroup.locations.length}}):</div>

  <table mat-table [dataSource]="userGroup.locations" class="mat-elevation-z8" class="location-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let location"> {{location.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let userGroup">{{userGroup.websiteUrl}}</td>
      <td mat-cell>Add Location</td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef>Latitude</th>
      <td mat-cell *matCellDef="let location">{{location.location.coordinates[1]}}</td>
    </ng-container>

    <ng-container matColumnDef="longitude" class="table-spacing">
      <th mat-header-cell *matHeaderCellDef>Longitude</th>
      <td mat-cell *matCellDef="let location">{{location.location.coordinates[0]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'website', 'latitude', 'longitude']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','website', 'latitude', 'longitude'];"></tr>
  </table>

  <div class="heading">Projects ({{userGroup.projects.length}}):</div>
  <table mat-table [dataSource]="userGroup.projects" class="mat-elevation-z8" class="location-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let project"> {{langService.getLanguageOption(project.name)}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let project"> {{langService.getLanguageOption(project.desc)}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let project"> {{project.created}} </td>
    </ng-container>

    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef>Updated</th>
      <td mat-cell *matCellDef="let project"> {{project.updated}} </td>
    </ng-container>

    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef>Published</th>
      <td mat-cell *matCellDef="let project"> {{project.published}} </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef># Tags</th>
      <td mat-cell *matCellDef="let project"> {{project.tags.length}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="projectColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: projectColumns;"></tr>
  </table>
</div>

<!-- error -->
<div fxLayout="column" fxLayoutAlign="start center" class="page" *ngIf="errorMessage">
  <div class="error">{{errorMessage}}</div>
</div>

<!-- loading -->
<div *ngIf="loading">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>
