<!-- Toolbar -->
<mat-toolbar>
  <span>
    <img src="assets/logos/hm.png" class="logo" [routerLink]="['']">
  </span>
  <span class="spacer"></span>
  <div *ngIf="!isSmallScreen">
        <button mat-button (click)="goToUrl('map')" class="toolbar-button">
          Map
        </button>
        <button mat-button (click)="goToUrl('projects')" class="toolbar-button">
          Projects
        </button>
        <button mat-button (click)="goToUrl('resources')" class="toolbar-button">
          Resources
        </button>
        <button mat-button  *ngIf="!user" (click)="goToUrl('sign-in')" class="toolbar-button">
          Sign In
        </button>
  </div>

  <div *ngIf="isSmallScreen">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToUrl('map')">
        Map
      </button>
      <button mat-menu-item (click)="goToUrl('projects')">
        Projects
      </button>
      <button mat-menu-item (click)="goToUrl('resources')">
        Resources
      </button>
      <button mat-menu-item *ngIf="!user" (click)="goToUrl('sign-in')">
        Sign In
      </button>
    </mat-menu>
  </div>
  <span *ngIf="user">
    <a (click)="goToUrl('profile')">
      <img mat-card-avatar src="{{authService.photoURL}}" class="avatarPhoto">
    </a>
  </span>
</mat-toolbar>