.logo {
    width: 45px;
  }
  .logo:hover {
    width: 50px;
    cursor:pointer;
  }
  .avatarPhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

  mat-toolbar{
    background: white;
    color: rgba(0, 0, 0, 0.87);
  }
  $border-width: 3px;
  .toolbar-button {
    border-top: $border-width solid white;
    border-bottom: $border-width solid white;
    &:hover {
      border-top: $border-width solid white;
      border-bottom: $border-width solid #EFB044;
      cursor: pointer;
      box-shadow: 2px grey;
    }
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
  }