<div fxLayout="column" fxLayoutAlign="center center" class="agency-section">
    <p class="agency-desc">A community of aid agencies that are developing projects and programmes that use
        local manufacturing, digital fabrication, FabLabs and Makerspaces.
    </p>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img class="logo-image" src="./../../../../../../assets/logos/fieldReady-2.png" alt="">        
    </div>


    <div class="blue-button" fxLayout="row" fxLayoutAlign="center center">How We Work</div>
</div>