.logo {
    width: 45px
  }
  
  .avatarPhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

  mat-toolbar{
    background: white;
    color: rgba(0, 0, 0, 0.87);
  }