<div fxLayout="column" fxLayoutAlign="start center" class="page">
    <img class="hero-image" src="./../../assets/hm-logo.png">
    <div class="title">Humanitarian Making</div>
    <div class="sub-title">Open Hardware for Humanitarian Relief</div>
    <p class="site-details">
      A community of aid agencies that are developing projects and programmes that use local manufacturing, digital
      fabrication, FabLabs and Makerspaces.
    </p>
  <app-home-card-deck></app-home-card-deck>
  <!-- <p class="get_involved">Get Involved</p> -->
</div>