<div fxLayout="column" fxLayoutAlign="start center" *ngIf="userGroup">
    <div fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="title">{{userGroup.name}} Resources</div>
    </div>

    <table style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Resource</th>
                <th>
                    <button mat-mini-fab color="primary" aria-label="Add Resource" (click)="clickAddResource()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
              </tr>
        </thead>
        <tbody >
            <tr *ngFor="let resource of resources" app-resource-row [userGroupId]="userGroupId" [resource]="resource" ></tr>
        </tbody>
    </table>
</div>
<div *ngIf="errorMessage" fxLayout="column" fxLayoutAlign="center center" class="page error-message">
    {{errorMessage}}
</div>
<div *ngIf="loading">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>