@import 'src/styles';

.top-row {
    width: 100%;
}
.resource-name {
    font-size: 1.5em;
}

.image {
    max-width: 400px;
}

.resource-desc {
    margin: 1em;
    font-size: 1em;
    text-align: center;
}
.resources {
    font-size: 1.4em;
}

.resource-card {
    border-width: 1.5px;
    border-style: solid;
    border-color: $blue;
    border-radius: 5px;
    background-color: $blue;
    width: 10em;
    height: 8em;
    text-align: center;
    margin: 0.5em;
}
.resource-name {
    font-size: 1.2em;
    color: white;
    margin: 0.6em;
}
.resource-desc {
    font-size: 1.0em;

}
.resource-download {
    width: 1em;
    height: 1em;

}
.download-icon {
    color: $yellow;
    font-size: 2.5em;
    width: 2.5em;
}