<div fxLayout="column" fxLayoutAlign="start center">
  <h2>Projects</h2>
  <app-search (updateSearch)=search($event)></app-search>
  <br> 
  <div *ngIf="loading">
    <mat-spinner  style="margin:0 auto;"></mat-spinner>
    <p style="text-align: center;">Loading</p>
  </div>
  <div fxLayout.xs="column" fxLayout.sm="row wrap" fxLayout.md="row wrap" fxLayout="row wrap"
    fxLayoutAlign="center stretch">
    <div fxFlex='33' fxFlex.md='40' fxFlex.sm='40' fxFlex.xs='95' *ngFor="let project of projects">
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>