.mail-link {
  font-size: 13px;
}

.footer-logo {
  height: 42px;
}

.footer {
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both;
  background-color: white;
}


.main-content {
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 60px;
  min-height: calc(100vh - 68px) !important;
}



