<app-toolbar></app-toolbar>

<div class="main-content" role="main">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <mat-toolbar color="primary">
    <span class="mail-link">
      <a href="mailto:info@humanitarianmaking.org">info@humanitarianmaking.org</a>
    </span>
    <span class="spacer"></span>
    <span>
      <a href="https://www.shuttleworthfoundation.org/">
        <img src="./../assets/shuttleworth.svg" class="footer-logo">
      </a> 
    </span>
  </mat-toolbar>
</footer>