<div fxLayout="column" fxLayoutAlign="start center">
    <div class="title">Design Challenges</div>
    <div fxLayout="column" fxLayoutAlign="start start"> 
            <div *ngFor="let challenge of challenges" (click)="goToUrl(challenge.url)">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img src="assets/images/1.png" alt="" fxFlex='15'>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <h5>{{challenge.name}}</h5>
                        <p>{{challenge.desc}}</p>
                    </div>                    
                </div>
            </div>
    </div>
</div>