.footer-logo {
  height: 42px;
}

.footer {
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  clear: both;
  background-color: white;
  max-width: 95vw;
  min-width: 95vw;
  margin-left: 0px;
}

.mail-link {
    font-size: 0.8em;
}
  