.footer-logo {
  height: 42px;
}

.footer {
  position: relative;
  clear: both;
  background-color: whitesmoke;
  padding-top: 3em;
  padding-bottom: 3em;
}

.mail-link {
    font-size: 0.9em;
}
  
.logo-row {
  margin-bottom: 1.2em;
}
.logo-row-name {
  margin: 1em;
}