<div class="map-section">
    <figure class="blue-tint">
        <img src="assets/images/maker.jpg" alt="" class="map-image">
    </figure>
    <div class="map-content">
        <h2 class="map-title">Is there a makerspace or fablab near me?</h2>
        <p class="map-desc">Find out where you can access a facility to make humanitrian items.</p>
        <div fxLayout="row" fxLayoutAlign="center center" class="white-button" (click)="goToMap()">More</div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch">