
<div class="page" fxLayout="column" fxLayoutAlign="start center" >
    <img class="hero-image" src="assets/logos/hm.png">
    <div class="title">Code of Practice</div>
    <!--  -->
    <div class="rule-heading">Be Accountable to Affected Populations.</div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="space-between start"
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center" 
    >
    <img fxFlex="18" fxFlex.xs="70"  src="{{getImage('accountable') }}">
    <div fxFlex class="rule-details">We allow our work to be guided by the humanitarian purpose
        and core principles, and are fiercely accountable to affected
        populations. this accountability recognizes the affected
        person as the primary source of knowledge, and primary user.</div>
    </div>
    <!--  -->
    
    <div class="rule-heading">Open, Equitable, Collaborative.</div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="space-between start"
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center" 
    >
    <img fxFlex="18" fxFlex.xs="70" src="{{getImage('open') }}">
    <div class="rule-details">We start by listening to alternative points of view, consider
        different approaches to measuring success and impact, and
        know how to be wrong in a responsible manner. Without open
        and equitable collaboration, the power of our community
        diminishes.</div>
    </div>

    <div class="rule-heading">Will Not Make Weapons</div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="space-between start"
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center" 
    >
    <img fxFlex="18" fxFlex.xs="70" src="{{getImage('weapons') }}">
    <div class="rule-details">We will not, under any circumstance, assist in the production
        of any items which serve the intention of inflicting harm on
        other people. We bear an onus of responsibility to work
        closely with users, which leads us to more personal,
        professional, and principled making.</div>
    </div>

    <!--  -->
    <div class="rule-heading">Strive To Be Standard Bearers.</div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="space-between start"
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center" 
    >
    <img fxFlex="18" fxFlex.xs="70" src="{{getImage('standard') }}">
    <div class="rule-details">A standard bearer is a leader in the community who seeks to
        advance practice and processes in a responsible manner. We
        exemplify our respective professional standards and ethics,
        as well as those of the professional humanitarian community.</div>
    </div>
    
    <div class="rule-heading">Challenge the System</div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="space-between start"
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center" 
    >
    <img fxFlex="18" fxFlex.xs="70" src="{{getImage('challenge') }}">
    <div class="rule-details">There is a uniquely radical spirit within the humanitarian
        making community. We recognize this as a fundamental
        practice of the network - to challenge the system in ways
        that improve the efficiency and effectiveness of humanitarian
        response globally.</div>
    </div>
</div>