.project-card {
    margin: 1em;
}

.desc {
    overflow: hidden;
    height: 36px;
    text-align: justify;
}

.name {
    height: 1.4em;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    overflow: hidden;
}