<h1 mat-dialog-title>Select User Group</h1>
<div mat-dialog-content >
    <div fxLayout="row" fxLayoutAlign="center start" >
        <form *ngIf="!errorMessage" [formGroup]="userGroupForm" fxLayout="row" fxLayoutAlign="space-between center" class="row">
            <mat-form-field>
                <mat-label>User Group</mat-label>
                <mat-select formControlName="userGroup">
                    <mat-option *ngFor="let userGroup of userGroups" [value]="userGroup.userGroupId" >
                      {{userGroup.userGroupId}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>  
        <div *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clickCancel()">Cancel</button>
  <button mat-button (click)='clickUpdateUserGroup()'>Update</button>
</div>