$primary: #455a64;
$blue: #4A8BCB;
$yellow: #EFB044;
$grey: #444444;

html,
body {
  height: 100%;
  color: $grey;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit; 
  text-decoration: inherit;
}

a:visited {
    color: inherit; 
    text-decoration: inherit;
}

.spacer {
  flex: 1;
}

.page {
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
}
