

  .spacer {
    flex: 1;
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

.hero {
  text-align: center;
}
.hero-image {
  width: 40%
}

.title {
  font-size: 3em;
  font-weight: bold;
}
.sub-title {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.floatRight{
  float: right;        
  margin-left: -50%;        
  margin-top: -4em;
} 
 
.resource-title {
  font-size: 18px;
  text-align: center;
}

.site-details{
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 3em;
}

.foot-note {
  text-align: center;
}

.projects {
  background-color: #4a8bcb;
  border: 2px solid #4a8bcb;
  border-radius: 1.5em;
  height: 3em;
  margin: 2em;
  padding: 1em;
  color: #fff;
}

.projects:hover {
  background-color: #fff;
  border: 2px solid #4a8bcb;
  color: #21252a;
}

.readiness {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.readiness-text {
  font-size: 1.5em;
  text-align: center;
}