<div fxLayout="column" fxLayoutAlign="start center">
  <div class="hero">
    <img class="hero-image" src="./../../assets/hm-logo.png">
    <div class="title">Humanitarian Making</div>
    <div class="sub-title">Open Hardware for Humanitarian Relief</div>
    <p class="site-details">
      A community of aid agencies that are developing projects and programmes that use local manufacturing, digital
      fabrication, FabLabs and Makerspaces.
    </p>
  </div>
  <div div="" fxlayout="column" fxlayoutalign="center center" class="projects" (click)="goToProjects()">
    <div class="projectsText">Browse Projects</div>
  </div>
  <div class="readiness">Readiness Levels</div>
  <div class="readiness-text">Humanitarian Making uses Readiness Levels to categorise the 'Readiness' of Project</div>
  <div fxlayout="column" fxlayoutalign="center center" class="projects"  (click)="goToReadiness()">
    <div class="projectsText">Learn More</div>
  </div>
  <app-ethics-page></app-ethics-page>
  <br>
  <p class="foot-note">This site is under active development for the original site please visit <a class="link"
      href="https://projects.humanitarianmaking.org">projects.humanitarianmaking.org</a></p>
</div>