<div fxLayout="column" fxLayoutAlign="start center">
  <div class="hero">
    <img class="hero-image" src="./../../assets/hm-logo.png">
    <div class="title">Humanitarian Making</div>
    <div class="sub-title">Open Hardware for Humanitarian Relief</div>
    <p class="site-details">
      A community of aid agencies that are developing projects and programmes that use local manufacturing, digital fabrication, FabLabs and Makerspaces. 
    </p>
  </div>
  <app-ethics-page></app-ethics-page>
  <br>
  <p class="foot-note">This site is under active development for the original site please visit <a class="link" href="https://projects.humanitarianmaking.org">projects.humanitarianmaking.org</a></p>
</div>
