<div fxLayout="column" fxLayoutAlign="start center" >
    <img class="logo" src="assets/logos/hm.png">
    <div class="title">HUMANITARIAN MAKING</div>
    <div class="sub-title">OPEN HARDWARE FOR HUMANITARIAN RELIEF</div>
    <div fxLayout="row" fxLayoutAlign="center center" class="button-row">
        <div fxLayout="row" fxLayoutAlign="center center" class="blue-button" (click)="goToProjects()">Search a Project</div>
        <!-- <div fxLayout="row" fxLayoutAlign="center center" class="yellow-button">Contribute</div> -->
    </div>
    <!-- <p class="site-details">
        A community of aid agencies that are developing projects and programmes that use local manufacturing, digital
        fabrication, FabLabs and Makerspaces.
    </p> -->
</div>